<% if object.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <%= t "errs.the_form_contains" %> <%= pluralize(object.errors.count, t("errs.error")) %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
