@import 'bootstrap-sprockets';
@import 'bootstrap';
$light-gray: #777;
$light-gray-hard: #d2d2d2;
$black-gray: #555;
$black-gray-medium: #222;
$gray: #4a4a4a;
$white: #fff;
$red: red;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

p {
  color: $gray;
  font-size: 1.1em;
  line-height: 1em;
}

.logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

footer {
  border-top: 1px solid #d2d2d2;
  color: $light-gray;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $black-gray;

    &:hover {
      color: $black-gray-medium;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

aside {
  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 2em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }

    .user_info {
      margin-top: 20px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 15px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  padding: 2px;
  width: 100%;
  @include box_sizing;
}

input {
  height: 30px !important;
}

.title-new {
  font-size: 45px;
  margin-top: 15px;
  text-align: center;
}

.error_explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

.session_remember_me {
  margin-left: 0;
  width: auto;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 10px;
    border-bottom: 1px solid $gray-lighter;
  }
}
